__pycache__
.venv/
.venv-*/
.vscode
.DS_Store
notebooks
.*.swp
.*.swo
*.pyc
*.so
*.txt
build
/dist
*.egg-info
/env
.idea
*.prof
venv
venv_sd_mlperf
package.json
package-lock.json
temp
*.csv
.coverage
coverage.xml
*.log
target
.mypy_cache